@import url(reset.css);
@font-face {
  font-family: "alice-regular";
  src: url(https://doktauwu.com/assets/fonts/EliceDigitalBaeum_Regular.ttf);
}
@font-face {
  font-family: "alice-bold";
  src: url(https://doktauwu.com/assets/fonts/EliceDigitalBaeum_Bold.ttf);
}

:root {
  --nav-bar-height: 75px;

  /* colors */
  --primary-color: #73c0ff;
  --secondary-color: #99d3ff;
  --third-color: #c2e3ff;
  /* --selection-color: #31a2ff; */
  --text-on-black-color: white;
  /* --text-on-white-color: #292929; */
  --nav-bar-color: #191919;
  --dark-backround-color: #191919;
  /* gradients */
  --primary-gradient: linear-gradient(135deg, #99d3ff, #73c0ff);
  /* shadows */
  --nav-bar--shadow: 0px 5px 5px rgba(0, 0, 0, 0.096);
  --nav-bar-button-shadow: 0px 3px 5px rgba(0, 0, 0, 0.055);
  /* filter */
  --dark-blury-filter: blur(50px) brightness(0.6);
  /* amounts */
  --section-side-pardding: 15px;
  --nav-bar-height: 75px;

  --section-round: 17px;

  /* fonts */
  --font-bold: alice-bold, Geneva, Tahoma, sans-serif;
}

* {
  font-family: alice-regular, Geneva, Tahoma, sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
  outline: none;
}

a:hover,
a:active {
  text-decoration: none;
  color: #fff;
  background-color: none;
}

body {
  position: relative;
}

.transition {
  width: 100vw;
  height: 100vh;
  background-color: var(--dark-backround-color);
  position: absolute;
  display: flex;
  bottom: 0px;
  left: 0px;
  z-index: 9999999999;
  justify-content: center;
  height: center;
  transition: opacity 0.25s ease;
}

.transition--loaded {
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  width: 0px;
  height: 0px;
}

.transition__logo {
  animation: spin forwards infinite 1s ease;
  width: 100px;
  height: auto;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.global-nav {
  width: 100vw;
  height: var(--nav-bar-height);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--nav-bar-color);
  position: fixed;
  top: 0px;
  border-bottom: var(--primary-color) solid 2px;
  z-index: 100;
}

.gn-header {
  width: 100%;
  max-width: 1920px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.gn-logo {
  height: calc(var(--nav-bar-height) / 1.618);
}

.gn-lang-btn {
  width: calc(var(--nav-bar-height) / 1.618);
  height: calc(var(--nav-bar-height) / 1.618);
  position: absolute;
  right: calc(calc(var(--nav-bar-height) - var(--nav-bar-height) / 1.618) / 2);
  background-color: var(--primary-color);
  font-family: var(--font-bold);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: #191919;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  transition: all ease 0.25s;
}

.gn-lang-btn:hover {
  transform: scale(1.1);
}

.wrapper {
  width: 100%;
  height: calc(100vh - var(--nav-bar-height));
  margin-top: var(--nav-bar-height);
  overflow: auto;
  scroll-snap-type: y mandatory;
  background-color: var(--dark-backround-color);
}

@media (pointer: coarse) {
  .wrapper {
    scroll-snap-type: none;
  }
}

.section {
  width: 100vw;

  max-width: 1920px;
  height: calc(100vh - var(--nav-bar-height));
  background-color: rgb(85, 85, 85);
  scroll-snap-align: center;
  padding: 0px var(--section-side-pardding);
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
}

.sect-intro {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  /* background-image: url(https://cdn.pixabay.com/photo/2021/08/03/20/34/flowers-6520439_960_720.jpg); */
}

.sect-intro__background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--dark-backround-color);
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  filter: brightness(1);
}

.sect-intro__bg-iframe {
  aspect-ratio: 16 / 9;
  width: 100%;
  object-fit: contain;
  transform: scale(1.2);
}

@media (max-aspect-ratio: 3/2) {
  .sect-intro__bg-iframe {
    aspect-ratio: 16 / 9;
    width: auto;
    height: 150%;
  }
}

.sect-intro__bottom-decoration {
  width: 150px;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
/* .sect-intro__bottom-decoration.upper {
  top: 0px;
  left: calc(100% - 150px);
  transform: rotate(180deg);
} */

.sect-intro__title {
  padding: 15px;
  border-radius: var(--section-round);
  font-size: 50px;
  /* background-color: rgb(219, 219, 219); */
  backdrop-filter: var(--dark-blury-filter);
  -webkit-backdrop-filter: var(--dark-blury-filter);
  z-index: 0;
  color: var(--text-on-black-color);
  margin-bottom: 20px;
}

.sect-intro__content {
  max-width: 600px;
  /* min-height: 150px; */
  backdrop-filter: var(--dark-blury-filter);
  -webkit-backdrop-filter: var(--dark-blury-filter);
  z-index: 0;
  padding: 15px;
  border-radius: var(--section-round);
  color: var(--text-on-black-color);
  word-break: keep-all;
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 27px;
}

.sect-intro__links {
  padding: 15px;
  border-radius: var(--section-round);
  font-size: 50px;
  /* background-color: rgb(219, 219, 219); */
  backdrop-filter: var(--dark-blury-filter);
  -webkit-backdrop-filter: var(--dark-blury-filter);
  z-index: 0;
  color: var(--text-on-black-color);
  margin-bottom: 20px;
  display: flex;
}

.sect-intro__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-right: 25px;
  cursor: pointer;
  transition: all ease 0.25s;
}

.sect-intro__link:hover {
  transform: scale(1.1);
}

.sect-intro__link:last-child {
  margin-right: 0px;
}
.sect-intro__link-icon {
  width: 40px;
  fill: white;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

.sect-intro__scroll-guide {
  width: 50px;
  height: 50px;
  fill: rgb(255, 255, 255);
  z-index: 0;
  position: absolute;
  left: calc(50% - 25px);
  bottom: 30px;
  opacity: 85%;
  animation-name: scroll-guide-bouncing;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes scroll-guide-bouncing {
  0% {
    opacity: 55%;
  }
  50% {
    transform: translate(0px, 10px);
    opacity: 85%;
  }
  100% {
    opacity: 55%;
  }
}

.sect-recent-pj {
  background-color: var(--dark-backround-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sect-recent-pj__title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  text-align: center;
}

.sect-recent-pj__title-symbol {
  width: 30px;
  height: 30px;
  /* !need opti! PC SIZE 25px */
}

.sect-recent-pj__title-content {
  display: inline;
  /* !need opti! PC SIZE font-size: 55px; */
  font-size: 40px;
  font-family: var(--font-bold);
  color: var(--text-on-black-color);
  margin: 0px 15px;
  padding-bottom: 5px;
}

.sect-recent-pj__content {
  width: 100%;
  padding: 0px 200px;
  height: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  /* background-color: chartreuse; */
}

.sect-recent-pj__pj-card {
  width: calc(100% - 80px);
  max-width: 600px;
  height: 22%;
  max-height: 22%;
  min-height: 90px;

  border-radius: var(--section-round);
  position: relative;
  overflow: hidden;
  transition: all ease 0.25s;
  cursor: pointer;
  user-select: none;
  /* margin: 15px 0px; */
}

.sect-recent-pj__pj-card:hover {
  transform: scale(1.1);
}

.sect-recent-pj__pj-card > * {
  pointer-events: none;
}

.pj-card__background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  background-color: var(--third-color);
}

.pj-card__bg-filter {
  width: 110%;
  height: 110%;
  top: 0px;
  left: 0px;
  position: absolute;
  background-image: linear-gradient(
    180deg,
    rgba(18, 18, 18, 0),
    var(--dark-backround-color)
  );
  backdrop-filter: brightness(0.6);
  -webkit-backdrop-filter: brightness(0.6);
  transition: all ease 0.25s;
}

.sect-recent-pj__pj-card:hover .pj-card__bg-filter {
  backdrop-filter: brightness(0.7);
  -webkit-backdrop-filter: brightness(0.7);
}

.pj-card__bg-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pj-card__row {
  padding-left: var(--section-round);
  display: flex;
}

.pj-card__row:nth-child(2) {
  width: 100%;
  height: 70%;
  flex-direction: column;
  justify-content: center;
  /* background-color: rgba(63, 63, 63, 0.5); */
  backdrop-filter: brightness(1);
  -webkit-backdrop-filter: brightness(1);
}

.pj-card__title {
  font-size: 35px;
  font-family: var(--font-bold);
  margin-bottom: 7px;
  color: var(--primary-color);
}

.pj-card__description {
  color: var(--text-on-black-color);
}

.pj-card__row:nth-child(3) {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* background-color: rgba(255, 255, 255, 0.2); */
  border-top: solid 1px var(--text-on-black-color);
  backdrop-filter: brightness(1);
  -webkit-backdrop-filter: brightness(1);
}

.pj-card__row:nth-child(3) > img {
  width: 20px;
}

.pj-card__go-to-site-text {
  margin-right: 7px;
  font-size: 18px;
  padding-bottom: 3px;
  color: var(--text-on-black-color);
}

.sect-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  position: relative;
  flex-direction: column;
}

.sect-footer__background {
  position: absolute;
  overflow: hidden;
  background-color: var(--dark-backround-color);
}

.sect-footer__bg-image {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.2) blur(15px);
  -webkit-user-drag: none;
}

@media (max-aspect-ratio: 3/2) {
  .sect-footer__bg-image {
    aspect-ratio: 16 / 9;
    width: auto;
    height: 150%;
  }
}

.sect-footer__copyright {
  padding: 15px;
  border-radius: var(--section-round);
  font-size: 15px;
  /* background-color: rgb(219, 219, 219); */
  backdrop-filter: var(--dark-blury-filter);
  -webkit-backdrop-filter: var(--dark-blury-filter);
  z-index: 0;
  color: var(--text-on-black-color);
  margin-bottom: 20px;
  display: flex;
}
